<div class="container-fluid footer">
<div class="row text-center">
    <div class="col-12">
        <a href="https://facebook.com/ufrj.gdp/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/gdpufrj"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/gdpufrj/"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="https://soundcloud.com/gdpufrj"><i class="fab fa-soundcloud"></i></a>
        <br><br>
        <p>gdp.ufrj@gmail.com</p>
        <hr>
    </div>
    <div class="col-12">
        <h3>GDP 2018</h3>
    </div>
</div>
</div>
