/*Navigation*/
.navbar {
    padding: 1rem;
    
    vertical-align: middle;
}
.navbar-nav .nav-item .nav-link {
    color: #5a5a5a;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active {
    color: rgb(255, 224, 49);
}
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(255, 234, 117);
}
.navbar li {
    padding: 5px;
}
.navbar a {
    color: #000;
    text-align: right;
}
