<!--Content-->
<div class="container-fluid member">
<div class="row">
    <div class="col-lg-12">
        <h1>Membros</h1>
        <hr>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/ana.html">
            <img src="img/members/ana_member.png" class="img-back">
            <img src="img/members/ana_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/carol.html">
            <img src="img/members/carol_member.png" class="img-back">
            <img src="img/members/carol_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/catarina.html">
            <img src="img/members/catarina_member.png" class="img-back">
            <img src="img/members/catarina_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/coelho.html">
            <img src="img/members/coelho_member.png" class="img-back">
            <img src="img/members/coelho_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/gdp-chan.html">
            <img src="img/members/[gdp-chan]_member.png" class="img-back">
            <img src="img/members/[gdp-chan]_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/hippie.html">
            <img src="img/members/hippie_member.png" class="img-back">
            <img src="img/members/hippie_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/igor.html">
            <img src="img/members/igor_member.png" class="img-back">
            <img src="img/members/igor_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/isabela.html">
            <img src="img/members/isabela_member.png" class="img-back">
            <img src="img/members/isabela_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/pinheiro.html">
            <img src="img/members/pinheiro_member.png" class="img-back">
            <img src="img/members/pinheiro_hover.png" class="img-top">
        </a>
    </div>
    <div class="member-card col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="/Code/GDPWeb/members/tomaz.html">
            <img src="img/members/tomaz_member.png" class="img-back">
            <img src="img/members/tomaz_hover.png" class="img-top">
        </a>
    </div>
</div>
</div>