/*Missing*/
.missing {
    padding: 7rem;
    padding-right: 20rem;
    padding-left: 20rem;
}
.missing h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}
.missing h3 {
    color: #424242;
    font-size: 2rem;
}

/*---Media Queries --*/
@media (max-width: 1200px) {
    /*Missing*/
    .missing {
        padding-right: 15rem;
        padding-left: 15rem;
    }
}

@media (max-width: 992px) {
    /*Missing*/
    .missing {
        padding-right: 12rem;
        padding-left: 12rem;
    }
    .missing h1 {
        font-size: 2.8rem;
    }
    .missing h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 767px) {
/*Missing*/
    .missing {
        padding-right: 8rem;
        padding-left: 8rem;
    }
}

@media (max-width: 576px) {
    /*Missing*/
    .missing {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .missing h1 {
        font-size: 2.4rem;
        padding-bottom: .5rem;
    }
    .missing h3 {
        font-size: 1.4rem;
    }

}
