<!--Header-->
<div class="header container-fluid">
    <div class="row">
    </div>
    </div>

    <!--Content-->
    <div class="container-fluid">
            <div class="row member">
            <div class="col-12 top-img text-center">
                <img src="../../assets/img/members/[gdp-chan]_personal.png">
            </div>
            <div class="text-center col-lg-5 col-md-5"></div>   
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h1>GDP-chan</h1>
                <hr>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 side-img">
                <img src="../../assets/img/members/[gdp-chan]_personal.png">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <h6><b>Dona da Porra Toda</b></h6>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
                odio. Quisque volutpat mattis eros. Nullam malesuada erat ut
                turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                posuere a, pede.</p>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
                mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi
                in sem quis dui placerat ornare. Pellentesque odio nisi, euismod
                in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
            </div>
            </div>
            
            <div class="row member_work">
            <div class="col-lg-12">
                <h1>Jogos</h1>
                <hr>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/kamikaze.png">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/GDPack.png">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/ppp.png">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/vcs.png">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/koizo.png">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/fobias.png">
            </div>
            </div>

            <div class="row member_work">
            <div class="col-lg-12">
                <h1>Projetos</h1>
                <hr>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/music.png">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <img src="../../assets/img/games/rot.png">
            </div>
            </div>
        </div>