<!--Header-->
<div class="header container-fluid">
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h1>FAÇA <b>JOGOS</b> NA UFRJ</h1>
        <div class="yellow-button"><a href="#"><b><p>SAIBA MAIS</p></b></a></div>
    </div>
    <div class="col-md-6 col-sm-12 text-center">
        <img src="assets/img/logo/logoWhite.png">
    </div>
</div>
</div>

<div class="text-center">
    <i class="fas fa-angle-down"></i>
</div>

<!--Content-->
<div class="container-fluid content">
        <h1> Nós somos um time apaixonado por fazer jogos. </h1>
        <br>
        <p>A GDP foi fundada em 2007 por alunos do Departamento de Ciência da Computação da UFRJ, 
        e tinha como objetivo original preparar estudantes para ingresso profissional na indústria de jogos, 
        principalmente na área de computação gráfica. Foi dado um enfoque forte no desenvolvimento de engines 
        internas, destacando-se a URGE (descontinuada em 2012).</p>
        
        <p>Com o passar dos anos, o grupo passou a refletir mais o aspecto multidisciplinar da área, 
        incorporando membros de outros cursos dentro da UFRJ para desenvolver e compartilhar conhecimento 
        de outras etapas do desenvolvimento (como artes visuais, roteiro e música).</p> 
        
        <p>Com mais de uma década de história, nossos ex-membros se espalharam por toda a indústria de jogos, 
        ingressando em empresas (nacionais e internacionais) e fundando estúdios independentes. Hoje, a GDP 
        se tornou um ícone universitário de desenvolvimento de jogos digitais no Rio de Janeiro, estabelecendo 
        contato com grupos dentro e fora do cenário gamedev carioca.</p>
        
        <p>Nós somos uma família dedicada e que procura sempre oferecer o ambiente mais acolhedor possível para 
        toda a diversidade de pessoas que compõem a nossa equipe, e nosso trabalho se baseia em amizade, 
        compromisso, humildade e respeito.</p>
</div>